h1{
    color: orange;
    background-color: red;
    display: flex;
    justify-content: center;
}
body{
    border:dotted;
    background-color: palevioletred;
}
p{
    color: white;
}
.wrapit{
    display: flex;
    justify-content: wrap;
}