h1{
    color: turquoise;
    background-color:yellow;
    display: flex;
    justify-content: center;
}
body{
    background-color: lightgray;
}
.fb{
    background-color: paleturquoise;
    display: flex;
    justify-content: flex-end;  
}
.ig{
    background-color: plum;
    display: flex;
    justify-content: flex-end;  
}
.yt{
    background-color:tomato;
    display: flex;
    justify-content: flex-start;  

}